
@using X.PagedList.Mvc.Core; <!--import to get HTML Helper-->
@using X.PagedList;

@model IPagedList<PostwebPortal.Models.RootQueryCandidate>
@{
    ViewData["Title"] = "UrlExpansion";
}




<style>
    table {
        text-align: left;
        position: relative;
        border-collapse: collapse;
    }

    th, td {
        padding: 0.25rem;
    }

    tr.red th {
        background: red;
        color: white;
    }

    th {
        background: white;
        position: sticky;
        top: 0; /* Don't forget this, required for the stickiness */
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    }

    tr:nth-child(even) {
        background-color: lightgray
    }

    td.a:hover {
        background-color: greenyellow;
    }

    .resize {
        resize: both;
        overflow: auto;
        display: block;
    }
</style>
<b>URL Expansion: </b>


@using (Html.BeginForm("UrlExpansion", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @if (ViewBag.IsSelected == "selected")
    {
        <label>Selected <input type="radio" name="isselected" value="selected" checked></label>
        <label>None <input type="radio" name="isselected" value="none"></label>
        <label>All <input type="radio" name="isselected" value="all"></label>
    }

    else if (ViewBag.IsSelected == "none")
    {
        <label>Selected <input type="radio" name="isselected" value="selected"></label>
        <label>None <input type="radio" name="isselected" value="none" checked></label>
        <label>All <input type="radio" name="isselected" value="all"></label>
    }


    else
    {
        <label>Selected <input type="radio" name="isselected" value="selected"></label>
        <label>None <input type="radio" name="isselected" value="none"></label>
        <label>All <input type="radio" name="isselected" value="all" checked></label>
    }
    <div class="input-group mb-3" align="center">






        <table>

            <tr>

                <td width="500"><input type="text" class="form-control" placeholder="Url" aria-label="Url" aria-describedby="basic-addon2" id="url" name="url" value="@ViewBag.Url" required></td>

                <td width="500"><input type="text" class="form-control" placeholder="Keys Specarated by || (eg: how to||icloud)" aria-label="Keys" aria-describedby="basic-addon2" id="keys" name="keys" value="@ViewBag.Keys"></td>

                <td><button class="btn btn-outline-success" type="submit" name="Search">Search</button></td>

            </tr>


        </table>






    </div>
}

<div onclick=" save();">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("UrlExpansion", new { page = page, url = ViewBag.Url, judgename = ViewBag.Judgename, keys = ViewBag.Keys, isselected = ViewBag.IsSelected }),
    new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
    {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })
</div>

@using (Html.BeginForm("QueryUpdate", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @if (ViewBag.PassageCount > 0)
    {
        <p>
            <b>Passages : @ViewBag.PassageCount</b>
            <b>Title: </b><a href="@ViewBag.Url" target="_blank" style="color:blue">@ViewBag.PassageTitle</a>
            <b>URL: </b><a href="@ViewBag.Url" target="_blank" style="color:olivedrab">@ViewBag.Url</a>
        </p>


        <table style="table-layout:auto; width:100%" class="fixed_header" id="results">
            <thead>
                <tr>
                    <th style="border-left: 1px solid; border-top: 1px solid; border-bottom: 1px solid; border-right: 1px solid; padding-top: 5px">
                        Query  <p><input type="text" id="myInput" onkeyup="search()" placeholder="Search for queries.." title="Type in a query">
                        <button class="btn btn-outline-success" onclick="toggle()" name="Add">Add</button></p>
                    </th>
                    @foreach (var passage in ViewBag.Passages)
                    {


                        <th style="border-top: 1px solid;border-bottom: 1px solid;border-right:1px solid; padding-top:5px">
                            <div class="resize" style="height: 200px; width: 400px; overflow-x: auto; overflow-y: auto">
                                <p style="color:blue">Total count: @passage.selectedcount</p>
                                <p style="color:dimgray;"><b>RootQueries : </b>@Html.Raw(passage.RootQueries)</p>
                                <p style="color:dimgray" id="rawAnswer">@Html.Raw(passage.RawAnswer)</p>

                            </div>
                        </th>





                    }
                    <th style="border-top: 1px solid;border-bottom: 1px solid;border-right:1px solid">None</th>

                </tr>
            </thead>
            <tbody>
                <tr id="hidethis" style="display:none">
                    <td style="text-align:left  ">
                        <div class="resize">

                            <textarea name="Queries" id="queries"></textarea>
                        </div>
                    </td>

                    @foreach (PassageData passage in ViewBag.Passages)
                    {
                        <td class="a" style="text-align:center">

                            <div style=" width: 400px; overflow-x: auto; overflow-y: auto">

                                <input type="radio" name="selectedanswerid" value="@passage.PassageId">



                            </div>

                        </td>

                    }
                    <td>
                        <div style=" text-align:center; width: 200px; overflow-x: auto; overflow-y: auto;">
                            <button  onclick="addQuery()"> Add </button>
                        </div>
                    </td>


                </tr>
                @if (Model.Count() > 0)
                {








                    @for (int i = 0; i < Model.Count; i++)
                    {

                        <tr class="query">

                            <td style="text-align:left  ">
                                <div class="resize">

                                    <a href="https://www.google.com/search?q=@Model[i].pwquery" target="_blank" style="color:blue">
                                        @Html.DisplayTextFor(m => m[i].pwquery)
                                    </a>
                                    @Html.HiddenFor(m => m[i].queryid)


                                </div>
                            </td>

                            @foreach (PassageData passage in ViewBag.Passages)
                            {
                                <td class="a" style="text-align:center" title="@Model[i].pwquery" id="@Model[i].queryid|@passage.PassageId" onclick="myFunction()">

                                    <div style=" width: 400px; overflow-x: auto; overflow-y: auto">

                                        @if (Model[i].selectedanswerid == passage.PassageId)
                                        {


                                            @Html.RadioButtonFor(m => m[i].selectedanswerid, Model[i].selectedanswerid, true)
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(m => m[i].selectedanswerid, passage.PassageId, false)
                                        }



                                    </div>

                                </td>

                            }
                            <td onclick="myFunction()" class="a">
                                <div style=" text-align:center; width: 200px; overflow-x: auto; overflow-y: auto;">
                                    @if (Model[i].selectedanswerid == null || Model[i].selectedanswerid == "none")
                                    {

                                        @Html.RadioButtonFor(m => m[i].selectedanswerid, "none", true)

                                    }
                                    else
                                    {

                                        @Html.RadioButtonFor(m => m[i].selectedanswerid, "none", false)
                                    }
                                </div>
                            </td>


                        </tr>

                    }
                    <tr id="total"></tr>









                }
            </tbody>
        </table>






        <input type="hidden" class="form-control" name="url" id=url value=@ViewBag.url>
        <input type="hidden" class="form-control" name="page" id=url value=@ViewBag.page>
        <div style="text-align:right">
            <input type="text" placeholder="judgename" aria-label="judgename" aria-describedby="basic-addon2" id="judgename" name="judgename" value="@ViewBag.Judgename" required>
            <button class="btn btn-outline-success" type="submit" name="Submit">Save</button>
        </div>
    }
}


<div onclick=" save();">
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("UrlExpansion", new { page = page, url = ViewBag.Url, judgename = ViewBag.Judgename, keys = ViewBag.Keys, isselected = ViewBag.IsSelected }),
    new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
    {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })
</div>

}

<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    var counter = 0;
    $(document).ready(function () {



        $('td').click(function () {

            var cell = $(this),
                state = cell.data('state') || 'first';

            switch (state) {
                case 'first':
                    cell.data('state', 'second');
                    cell.find('input:radio').attr('checked', true);
                    cell.find('input:radio').data('checked', true);
                    cell.find('input:radio').prop('checked', true);
                    break;
                case 'second':
                    cell.data('state', 'first');
                    cell.find('input:radio').attr('checked', false);
                    cell.find('input:radio').data('checked', false);
                    cell.find('input:radio').prop('checked', false);
                    break;
                default:

                    break;
            }
        });
    });

    function myFunction() {
        counter++;
    }

    function save() {
        if (counter != 0) {
            alert("Please save before proceeding");
            event.preventDefault();
            returnToPreviousPage();
            return false;
        }

        return true;
    }


    $('table').ready(function () {                        //Add event listener on radio

        var result = [];
        var output = "<td>Total</td>"//Init the result variable
        $('.query').each(function () {                                      //Select the row ( class stunden ) and loop
            $(this).find('input[type="radio"]').each(function (i) {          //Find all checkbox on a row and loop
                result[i] = result[i] || 0;                                      //Init if index does not exist
                result[i] += this.checked;

                var $cell = $(this).closest("td");
                if (this.checked) {
                    $cell.css("background-color", "green");
                }
                if (!this.checked) {
                    $cell.css("background-color", "");
                }// +1 if checked
            })
        })
        result.forEach(function (item) {
            output += '<td style="text-align:center">' + item + '</td>'

        });

        document.getElementById("total").innerHTML = output;

        @if (ViewBag.PassageCount > 0)
        {@for (int i=0;i<ViewBag.PassageCount; i++)
        { <text>document.getElementById(@ViewBag.Passages[i].PassageId).innerHTML = "Count : " + result[@i];</text> }}
    });

    $('tr').click(function () {                        //Add event listener on radio

        var result = [];
        var output = "<td>Total</td>"//Init the result variable
        $('.query').each(function () {                                      //Select the row ( class stunden ) and loop
            $(this).find('input[type="radio"]').each(function (i) {          //Find all checkbox on a row and loop
                result[i] = result[i] || 0;                                      //Init if index does not exist
                result[i] += this.checked;

                var $cell = $(this).closest("td");
                if (this.checked) {
                    $cell.css("background-color", "green");
                }
                if (!this.checked) {
                    $cell.css("background-color", "");
                }// +1 if checked
            })
        })
        result.forEach(function (item) {
            output += '<td style="text-align:center">' + item + '</td>'

        });
        @if (ViewBag.PassageCount > 0)
        {@for (int i=0;i<ViewBag.PassageCount; i++)
        { <text>document.getElementById(@ViewBag.Passages[i].PassageId).innerHTML = "Count : " + result[@i];</text> }}
    });
    function addQuery(){

        var queries = document.getElementById("queries").value;
        var judgename = document.getElementById("judgename").value;
        var ele = document.getElementsByName("selectedanswerid");
        var answerid;
        for (i = 0; i < ele.length; i++) {
            if (ele[i].checked)

                    answerid = ele[i].value;
        }

        if (!answerid)
        {
            answerid = "none";
        }
        if (!queries) {
            alert("queries cannot be left blank");
        }
        else if (!judgename) {
            alert("judgename cannot be left blank");
        }
        else {
            var url = '@Url.Action("AddQuery")';
            url += '/?queries=' + queries + '&judgename=' + judgename + '&selectedanswerid=' + answerid + '&page=' + '@ViewBag.page' + '&keys=' + '@ViewBag.keys' + '&url=' + '@ViewBag.url';
            window.location.href = url;
        }



    }

    function toggle() {
        if (document.getElementById("hidethis").style.display == 'none') {
            document.getElementById("hidethis").style.display = 'table-row'; // set to table-row instead of an empty string
        } else {
            document.getElementById("hidethis").style.display = 'none';
        }
    }

    function search() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("results");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }


</script>

